<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Users List Limit</title>
    <style>
        form {
            background-color: #96D4D4;
        }

        input[type="submit"] {
            background-color: darkslategray;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Users List Limit</h1>
<h2>

    <form th:method="post" th:action="@{/users}">
        <label for="count">Enter Users List Limit:</label>
        <input type="number" id="count" name="count" required>

        <br/>
        <hr/>

        <input type="submit" value="Get Limited Users List!">

    </form>

</h2>

<br/>
<hr/>

<h1>
    <a href="/users">Go to Users List</a>
</h1>

</body>
</html>