<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Edited User Details</title>
    <style>
        form {
            background-color: #96D4D4;
        }

        input[type="submit"] {
            background-color: darkslategray;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>User to Create Details</h1>
<h2>

    <form th:method="POST" th:action="@{/create}" th:object="${user}">
        <label for="firstName">Enter FirstName: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>

        <br/>

        <label for="lastName">Enter LastName: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>

        <br/>

        <label for="email">Enter Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

        <br/>
        <hr/>

        <input type="submit" value="Create!"/>
    </form>

</h2>

<br/>
<hr/>

<h1>
    <a href="/users">Go to Users List</a>
</h1>

</body>
</html>